<!-- Start Flights List Area -->
<section class="flights-list-area bg-default">
	<div class="container">
		<div class="row">
			<div class="content mgt-40">
				<div class="col-lg-3 col-md-4">
					<div class="sidebar sidebar-right">
						<div class="widget-sidebar widget-flight">
							<ul class="menu-tag-form">
								<li class="choose" (click)="myClickFunction('ONE-WAY')">ONE-WAY</li>
								<li class="choose" (click)="myClickFunction('ROUND-TRIP')">ROUND-TRIP</li>
							</ul>
							<div class="form-content">
								<div class="inner-box-tab">
									<form (ngSubmit)="this.searchFlights()">
										<div class="input-info-search">
											<div class="field-row flex">
												<div class="one-column">
													<div class="input-form select-box">
														<select [(ngModel)]="model.arrivalCity" place-holder="City"
															name="arrivalCity">
															
															<option *ngFor="let cityObj of cities" value={{cityObj.id}}>
																{{cityObj.city}}({{cityObj.code}})
															</option>
														</select>
													</div>
												</div>
												<div class="one-column">
													<div class="input-form select-box">
														<select [(ngModel)]="model.departurecity" name="departureCity">
															<option *ngFor="let deptcity of cities"
																value={{deptcity.id}} >
																<table class="align-lift">
																	<tr>
																		<i> {{deptcity.city}}({{deptcity.code}})</i>
																	</tr>
																</table>
															</option>
														</select>
													</div>
												</div>
											</div>

											<div class="field-row flex">
												<div class="one-column">
													<div class="box-date">
														<div class="input-form date form_date" data-date=""
															data-date-format="yyyy-MM-dd" data-link-field="dtp_input2"
															data-link-format="yyyy-mm-dd">

															<input size="16" type="text" name="departdate"
																[(ngModel)]="model.travellDate"
																placeholder="2019-11-29">
															<span class="add-on"><i class="icon-remove"></i></span>
															<span class="add-on"><i class="icon-th"></i></span>
														</div>
													</div>
												</div>
											</div>
											<div *ngIf="roundtripenabled" class="field-row flex">
												<div class="one-column">
													<div class="box-date">
														<div class="input-form date form_date" data-date=""
															data-date-format="yyyy-MM-dd" data-link-field="dtp_input2"
															data-link-format="yyyy-MM-dd">
															<input size="16" type="text" name="returndate"
																[(ngModel)]="model.returnDate" placeholder="2019-11-29">
															<span class="add-on"><i class="icon-remove"></i></span>
															<span class="add-on"><i class="icon-th"></i></span>
														</div>
													</div>
												</div>
											</div>
											<div class="field-row flex">
												<div class="one-column">
													<div class="input-form select-box">
														<select [(ngModel)]="model.adultCount" name="adultCount">
															<option value="1">01 Adults</option>
															<option value="2">02 Adults</option>
															<option value="3">03 Adults</option>
															<option value="4">04 Adults</option>
															<option value="5">05 Adults</option>
															<option value="6">06 Adults</option>
															<option value="7">07 Adults</option>
															<option value="8">08 Adults</option>
															<option value="9">09 Adults</option>
														</select>
													</div>
												</div>
												
												<div class="one-column">
													<div class="input-form select-box">
														<select [(ngModel)]="model.type" name="type">
															<option value="Economy">Economy</option>
															<option value="Business">Business</option>

														</select>
													</div>
												</div>
											</div>
											<div class="field-row flex">
												<div class="one-column">
													<div class="button-submit">
														<button type="submit">FIND FLIGHT</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-9 col-md-8">
					<ul class="process-flight ">
						<li [ngClass]="{'choose':selIndex==1}"> Find The Flight</li>
						<li [ngClass]="{'choose':selIndex==2}"> Select Flight</li>
						<li [ngClass]="{'choose':selIndex==3}">Passenger</li>
						<li [ngClass]="{'choose':selIndex==4}">Payment</li>
					</ul>
					<div class="flights-list" [hidden]="selIndex!=1">
						<div class="title-flights bg-default" *ngIf="flights!=undefined&&flights.length>0">
							<h6><img src="images/icon/icon_flight.png" alt="">{{flights[0].arrivalCity.code}} - {{flights[0].departurecity.code}}</h6>
							<span>{{flights.length}} Trips</span>
						</div>
						<div class="flights-content bg-white">
							<div class="table-flight">
								<div class="title">
									<div class="airlines">Airlines</div>
									<div class="departure">Departure</div>
									<div class="arrival">Arrival</div>
									<div class="duration">Duration</div>
									<div class="price">Price</div>
								</div>
								<div class="inner-content"  *ngFor='let flight of flights'>
									<div class="flight-item">
										<div class="airlines">
											
										   <div class="radio">
											  <label><input type="radio" name="optradio" [value]= "flight" (change)="selectFlight(flight)" />{{flight.operatingAirlines}}</label>
											</div>
											
										</div>
										<div class="departure">
											<span class="time"><strong>{{flight.depature_time}}</strong></span>
											<span class="code">{{flight.departurecity.code}}</span>
										</div>
										<div class="arrival">
											<span class="time"><strong>{{flight.arrival_time}}</strong></span>
											<span class="code">{{flight.arrivalCity.code}}</span>
										</div>
										<div class="duration">
											<span class="time-line">{{flight.duration}}</span>
											<span class="option">Non-Stop</span>
										</div>
										<div class="price">
											{{flight.economyprice}}<span class="unit">USD</span>
											<span class="more icon-dot-3"></span>
										</div>
									</div>
									<div class="flight-detail ver-1">
										<div class="detail">
											<h6>01. Flight details</h6>
											<div class="detail-content">
												<ul>
													<li>Airlines: <span>{{flight.operatingAirlines}}</span></li>
													<li>Class: <span>{{model.type}}</span></li>
													<li>Aircraff: <span>{{flight.flightNumber}}</span></li>
												</ul>
												<div class="flight-address">
													<div class="flight-from">
														<h4>{{flight.depature_time}}</h4>
														<p>{{flight.departurecity.city}}</p>
													</div>
													<div class="flight-duration">
														<h6>{{flight.duration}}</h6>
														<p>Flight Duration</p>
													</div>
													<div class="flight-to">
														<h4>{{flight.arrival_time}}</h4>
														<p>{{flight.arrivalCity.city}}</p>
													</div>
												</div>
											</div>
										</div>
										<div class="detail">
											<h6>02. Fare Details</h6>
											<table>
												<thead>
													<tr>
														<th>Passenger type</th>
														<th>Number tickets</th>
														<th>Price ticket</th>
														
														<th>Total price</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Adult</td>
														<td>{{model.adultCount}}</td>
														<td>${{flight.business_price}}</td>
														<td>${{flight.business_price*model.adultCount}}</td>
													</tr>
													
													<tr class="total">
														<td>Total money</td>
														<td></td>
														<td></td>
														
														<td class="price">${{ flight.business_price*model.adultCount}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="detail">
											<h6>03. Baggage Information</h6>
											<table>
												<thead>
													<tr>
														<th>Baggage Type</th>
														<th>Check-In Baggage</th>
														<th>Hand Baggage</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Adults</td>
														<td>{{flight.checkin_baggage}}</td>
														<td>{{flight.hand_baggage}}</td>
													</tr>
													<tr>
														<td>Children</td>
														<td>{{flight.checkin_baggage}}</td>
														<td>{{flight.hand_baggage}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<p>The baggage information is just for reference. Please Check with airline
											before check-in. For more information, visit Air India Website. * 1Pc = 23Kg
										</p>
									</div>
								 


									
								</div>
							</div>
						</div>
						<div class="button-next">
								<button type="submit" class="btn btn-primary btnSend "(click)="firstNext()">NEXT</button>
						</div>
					</div>

					<div class="flights-list" [hidden]="selIndex!=2"> Selected Flight

							<div class="flights-content bg-white" *ngIf="selectedFlight!=undefined">
									<div class="table-flight">
										<div class="title">
											<div class="airlines">Airlines</div>
											<div class="departure">Departure</div>
											<div class="arrival">Arrival</div>
											<div class="duration">Duration</div>
											<div class="price">Price</div>
										</div>
										<div class="inner-content">
											<div class="flight-item">
										<div class="airlines">
											<div class="checkbox ver-1">
											
												<label for="american1">{{selectedFlight.operatingAirlines}}</label>
											</div>

											<span class="airlines"></span>
										</div>
										<div class="departure">
											<span class="time"><strong>{{selectedFlight.depature_time}}</strong></span>
											<span class="code">{{selectedFlight.departurecity.code}}</span>
										</div>
										<div class="arrival">
											<span class="time"><strong>{{selectedFlight.arrival_time}}</strong></span>
											<span class="code">{{selectedFlight.arrivalCity.code}}</span>
										</div>
										<div class="duration">
											<span class="time-line">{{selectedFlight.duration}}</span>
											<span class="option">Non-Stop</span>
										</div>
										<div class="price">
											{{selectedFlight.economyprice}}<span class="unit">USD</span>
											<span class="more icon-dot-3"></span>
										</div>
									</div>
									<div class="flight-detail ver-1">
										<div class="detail">
											<h6>01. Flight details</h6>
											<div class="detail-content">
												<ul>
													<li>Airlines: <span>{{selectedFlight.operatingAirlines}}</span></li>
													<li>Class: <span>{{model.type}}</span></li>
													<li>Aircraff: <span>{{selectedFlight.flightNumber}}</span></li>
												</ul>
												<div class="flight-address">
													<div class="flight-from">
														<h4>{{selectedFlight.depature_time}}</h4>
														<p>{{selectedFlight.departurecity.city}}</p>
													</div>
													<div class="flight-duration">
														<h6>{{selectedFlight.duration}}</h6>
														<p>Flight Duration</p>
													</div>
													<div class="flight-to">
														<h4>{{selectedFlight.arrival_time}}</h4>
														<p>{{selectedFlight.arrivalCity.city}}</p>
													</div>
												</div>
											</div>
										</div>
										<div class="detail">
											<h6>02. Fare Details</h6>
											<table>
												<thead>
													<tr>
														<th>Passenger type</th>
														<th>Number tickets</th>
														<th>Price ticket</th>
													
														<th>Total price</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Adult</td>
														<td>{{model.adultCount}}</td>
														<td>${{selectedFlight.business_price}}</td>
														
														<td>$({{selectedFlight.business_price*model.adultCount}})</td>
													</tr>
													
													<tr class="total">
														<td>Total money</td>
														<td></td>
														<td></td>
														
														<td class="price">${{selectedFlight.business_price*model.adultCount}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="detail">
											<h6>03. Baggage Information</h6>
											<table>
												<thead>
													<tr>
														<th>Baggage Type</th>
														<th>Check-In Baggage</th>
														<th>Hand Baggage</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Adults</td>
														<td>{{selectedFlight.checkin_baggage}}</td>
														<td>{{selectedFlight.hand_baggage}}</td>
													</tr>
													<tr>
														<td>Children</td>
														<td>{{selectedFlight.checkin_baggage}}</td>
														<td>{{selectedFlight.hand_baggage}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<p>The baggage information is just for reference. Please Check with airline
											before check-in. For more information, visit Air India Website. * 1Pc = 23Kg
										</p>
									</div>
						
										</div>
									</div>
								</div>
								<div class="button-next">
										<button type="submit" class="btn btn-primary btnSend "(click)="secondNext()">NEXT</button>
								</div>
					</div>
					<div class="selected-passenger" [hidden]="selIndex!=3">

						<div class="flights-content bg-white">
							<form class="formWrapper" id="recommendation" role="form" [formGroup]="myform"
								(ngSubmit)="submitForm()" novalidate>
								<h2 class="formHeading p-2">Add Passengers </h2>

								<div class="row AddFormRow mt-3" formArrayName="passengers"
									*ngFor="let item of controls; let i = index;">
									<div [formGroupName]="i" class="row px-5">
										<div class="col-xs-12 col-sm-3 col-md-3">
											<div class="form-group">
												<input id="fname" type="text" placeholder="First name"
													class="form-control" formControlName="firstName">
												
											</div>
										</div>
										<div class="col-xs-12 col-sm-3 col-md-3">
											<div class="form-group">
												<input id="lname" type="text" placeholder="Last name"
													class="form-control" formControlName="lastName">
												
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 col-md-3">
											<div class="form-group">
												<input id="semail" type="text" placeholder="Email" class="form-control"
													formControlName="email" />

											</div>
										</div>
										<div class="col-xs-12 col-sm-4 col-md-3">
											<div class="form-group">
												<input id="sphone" type="number" placeholder="Phone"
													class="form-control" formControlName="phone" />

											</div>
										</div>
										
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 error-msg"><span>{{success}}</span></div>




								<div class="row nomargin addMoreRow text-center">
									<div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-6 text-center ">
										<button type="submit" class="btn btn-primary btnSend " (click)="thirdNext()">Next</button>
									</div>
								</div>
								<div class="clearfix"></div>
							</form>

						</div>

					</div>
					<div class="payment" [hidden]="selIndex!=4">Payment
						<button type="submit" class="btn btn-primary btnSend "(click)="bookNow()">Pay Now</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>