<div class="layout-theme">
        <header id="header" class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="logo" class="logo">
                                <a [routerLink] ="['/login']" title="AirLines" >
                                  <img src="../../assets/images/logo.png" alt="">
                                </a>
                            </div>
                             <div class="phone-number">
                                 <span>CALL US:</span>
                                 <a href="#" title="phone">0912 334 219</a>
                             </div>
                             <div class="navigation">
                                <div class="mobile-menu">
                                     <i class="icon-align-justify"></i>
                                 </div>
                                 <div id="main-menu" class="main-menu">
                                  <ul class="menu-responsive">
                                    <li class="active">
                                      <a [routerLink] ="['/flights']" title="">HOME</a>
                                    </li>
                                    <li *ngIf="isUserLogin">
                                        <a [routerLink] ="['/reservation']" title="">Your Booking</a>
                                    
                                    </li>
                                    <li>
                                        <a [routerLink] ="['/flightCancel']" title="">Flight Cancel</a>
                                    
                                    </li>
                                   
                                    <li *ngIf="isUserLogin">
                                    <a >
                                        <span class="icon-users"> </span>
                                    </a>
                                        <ul class="dropdown">
                                                <li><a title=""> {{activeUser.userName}}</a></li>
                                               
                                            <li><a href="#" title="" (click)="logout()" >Logout</a></li>
                                        </ul>
                                    </li>
                                         

                                     </ul>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
             </header>
             </div>
