.profileicon{
  display: inline-block;
}
.profile{
  text-decoration: none;
    color: #1a1919;
    font-family: 'Roboto Condensed';
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  line-height: 90px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
