
 <section class="payment-area bg-default">
            <div class="container">
                <div class="row">
                    <div class="content mgt-40">
                        
                        <div class="col-lg-7 col-md-6 col-sm-8">
                            <div class="form-submit-area online-payment bg-white">
                                
                                <div class="form-content">
                                    <div class="inner-box-tab">
                                        <form action="capcha/index.php" method="get" accept-charset="utf-8">
                                            <div class="input-info-search">
                                                <div class="field-row flex">
                                                    <div class="one-column">
                                                        <label>Form of credit  <span>*</span></label>
                                                        <div class="input-form select-box">
                                                            <select name="cruise-line">
                                                                <option value="">Fe Credit</option>
                                                                <option value="">Fe Credit</option>
                                                                <option value="">Fe Credit</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-row flex">
                                                    <div class="two-column">
                                                        <label>Customer's code  <span>*</span></label>
                                                        <div class="input-form">
                                                            <input type="text" name="customer-code" placeholder="Enter customer code">
                                                        </div>
                                                    </div>
                                                    <div class="two-column">
                                                        <label>Amount to payment  <span>*</span></label>
                                                        <div class="input-form">
                                                            <input type="text" name="amount-payment" placeholder="0">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-row">
                                                    <div class="one-column">
                                                        <label>Phone number  <span>*</span></label>
                                                        <div class="input-form">
                                                            <input type="text" name="phone-number" placeholder="Enter phone number">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-row flex">
                                                    <div class="two-column">
                                                        <label>Verification codes  <span>*</span></label>
                                                        <div class="input-form">
                                                            <input type="text" id="captcha" name="passenger-number" placeholder="...">
                                                        </div>
                                                    </div>
                                                    <div class="two-column">
                                                        <div class="capcha">
                                                            <img src="capcha/captcha.php" alt=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <a href="#" title="">Do you have a discount code?</a>
                                                </p>
                                            </div>
                                            <div class="submit-search center">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="agree" name="agree">
                                                    <label for="agree">I have read and agree to the policy</label>
                                                </div>
                                                <div class="button-submit">
                                                    <button type="submit" id="submit">CONTINUE</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="footer-search">
                                    <div class="note">
                                        <h6>NOTE:</h6>
                                        <ul>
                                            <li>Tutorial to view customer code</li>
                                            <li>There is no need to choose a Service / Provider if you have ever paid for this bill via Exactly</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
   