<section class="about-area bg-default">
        <div class="container">
            <div class="row">
                <div class="content mgt-60">
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <div class="sidebar sidebar-left">
                            <ul class="menu-sidebar">
                                <li class="menu-item">
                                    <a href="buy-air-sticket.html" title="">
                                        <div class="icon">
                                            <img src="images/icon/icon_flight.png" alt="">
                                        </div>
                                        <div class="title">
                                            <h6>Buy air tickets</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="search-car.html" title="">
                                        <div class="icon">
                                            <img src="../../assets/images/icon/icon_car.png" alt="">
                                        </div>
                                        <div class="title">
                                            <h6>Search for Car</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="search-trains.html" title="">
                                        <div class="icon">
                                            <img src="../../assets/images/icon/icon_train.png" alt="">
                                        </div>
                                        <div class="title">
                                            <h6>Search book Trains</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="cruise-list.html" title="">
                                        <div class="icon">
                                            <img src="../../assets/images/icon/icon_cruise.png" alt="">
                                        </div>
                                        <div class="title">
                                            <h6>Search Cruises</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="online-payment.html" title="">
                                        <div class="icon">
                                            <img src="../../assets/images/icon/icon_payment.png" alt="">
                                        </div>
                                        <div class="title">
                                            <h6>Online payment</h6>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <div class="about-page">
                            <div class="top-about">
                                <h6>WE ARE THE BEST TICKET AGENCY</h6>
                                <p>"Exactly.com" is a website that offers online booking and ticketing services for many domestic and international airlines. With a friendly interface, easy to operate, not only help customers quickly choose the best travel itineraries but also choose good fares in the month, compare the fare between airlines, booked and Buy tickets online. The advantage of the most outstanding of which is the first online air ticket market in Vietnam.</p>
                            </div>
                            <div class="content-about">
                                <p>"Exactly.com" is a website that offers online booking and ticketing services for many domestic and international airlines. With a friendly interface, easy to operate, not only help customers quickly choose the best travel itineraries but also choose good fares in the month, compare the fare between airlines, booked and Buy tickets online. The most outstanding advantage is the first online air ticket market in Vietnam.</p>
                                <p>You have bought the tickets but can not fly according to the schedule need to "transfer" to limit the damage due to cancellation or cancellation, you have the need to "hunt" tickets are good at the last minute, The "Exactly.com" route fully meets all of these needs. We are working hard to be the most reliable and most value-added air ticketing service for our customers. Please support us and help us become the best service provider for you.</p>
                                <p>"Always take your <span>peace of mind</span> and <span>trust</span>. Doing brand development goals. I wish you <span>peace and serenity</span>"</p>
                                <div class="owl-carousel-ver3" data-columns='3'>
                                    <div class="image">
                                        <img src="../../assets/images/about/about_01.jpg" alt="">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/about/about_02.jpg" alt="">
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/about/about_03.jpg" alt="">
                                    </div>
                                </div>
                                <div class="about-history">
                                    <h6>DEVELOPED HISTORY</h6>
                                    <ul class="timeline" data-columns='6'>
                                        <li>
                                            <div class="year">
                                                <h6>1975</h6>
                                            </div>
                                            <div class="text">
                                                Consequat duis aute irure dolor quis nostrud exercitation. 
                                            </div>
                                        </li>
                                        <li>
                                            <div class="year">
                                                <h6>1991</h6>
                                            </div>
                                            <div class="text">
                                                Duis aute irure dolor quis nostrud. 
                                            </div>
                                        </li>
                                        <li>
                                            <div class="year">
                                                <h6>1993</h6>
                                            </div>
                                            <div class="text">
                                                Tempor incididunt ut labore et dolor.
                                            </div>
                                        </li>
                                        <li>
                                            <div class="year">
                                                <h6>2008</h6>
                                            </div>
                                            <div class="text">
                                                Curabitur nunc erat, consequat congue bibendu nulla.
                                            </div>
                                        </li>
                                        <li>
                                            <div class="year">
                                                <h6>2010</h6>
                                            </div>
                                            <div class="text">
                                                Elitea commodo consequat duis aute irure.
                                            </div>
                                        </li>
                                        <li>
                                            <div class="year">
                                                <h6>2018</h6>
                                            </div>
                                            <div class="text">
                                                Praesent condimentum efficitur massa, congue.
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-about">
                                <div class="we-are">
                                    <h6>OUR VISION AND MISSION</h6>
                                    <p>Exactly has set its goals in the future, including vision and mission. We insist that we want to become the leading air passenger and cargo service company in Vietnam and expand our services to the world.</p>
                                    <p>This is further emphasized in our Mission statement, which has four main parts:</p>
                                    <ul>
                                        <li>We want to help customers feel secure in each trip.</li>
                                        <li>We help our clients, employees and investors to be more successful.</li>
                                        <li>We contribute positively to society.</li>
                                        <li>We always respect when we achieve our results.</li>
                                    </ul>
                                </div>
                                <div class="we-are">
                                    <h6>WHY CHOOSE EXACTLY?</h6>
                                    <ul>
                                        <li>Over 40 years of experience in providing passenger and cargo transportation services through airfares and tours in Australia.</li>
                                        <li>Staffs are trained professional, skilled, dedicated service and good communication in English.</li>
                                        <li>There are all kinds of vehicles from 4-45 seats with a variety of vehicles from medium to high. The car is constantly maintained to ensure safety and usability for the user.</li>
                                        <li>The car park is located at the convenient airport terminal providing services to the guests.</li>
                                        <li>Ensure 100% service quality.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>