<section class="flights-list-area bg-default">
    <div class="container  mgt-40">
           
        <div class="row">
            <div class="input-form select-box">
                <select [(ngModel)]="flightId"  id="flightId" place-holder="flight">
                    
                    <option *ngFor="let flight of flights"  value={{flight.id}}>
                        {{flight.flightnumber}}({{flight.operatingairlines}})
                    </option>
                </select>
            </div> 
               
            <div class="box-date">
                <div class="input-form date form_date" data-date=""
                    data-date-format="yyyy-MM-dd" data-link-field="dtp_input2"
                    data-link-format="yyyy-mm-dd">

                    <input size="16" type="text" name="travelDate"
                        [(ngModel)]="travelDate"
                        placeholder="2019-11-29">
                    
                </div>
            </div>
            <button  id="cancel" name="cancel" class="btn btn-default"  (click)="flightCancel()">Flight Cancel</button>
 

         </div>

 
</div>
