<section class="flights-list-area bg-default">

     

<div class="panel panel-default">
<div class="panel-heading">
    <h5>Flight Cancel</h5>
</div>
<div class="panel-body">


            <form class="form-inline bg-white text-center border border-light p-5" role="form" [formGroup]="flightShedule"
            (ngSubmit)="flightCancel()" novalidate>
                <div class="form-group">
                 
                  <select formControlName="flightId"  id="flightId" place-holder="flight">
                    <option value="">--select flight--</option>
                        <option *ngFor="let flight of flights"  value={{flight.id}}>
                            {{flight.flightnumber}}({{flight.operatingairlines}})
                        </option>
                    </select>
                </div>
                <div class="form-group"  style="margin-left: 10px;">
                  
                  <input id="travelDate" type="date" placeholder="2019-11-25"
                                        class="form-control datepicker" formControlName="travelDate">
                </div>
              
                <button type="submit" class="btn btn-primary btnSend " style="margin-left: 10px;" [disabled]="!flightShedule.valid">Cancel Flight</button>
              </form>


            </div>
        </div>




