<p>booking-cancellation works!</p>


<form class="form-inline bg-white text-center border border-light p-5" role="form">
   
    
    <div class="form-group"  style="margin-left: 10px;">
      
            <input id="date1" type="date" placeholder="2019-11-25"
                                  class="form-control" #date1>
          </div>
          <div class="form-group"  style="margin-left: 10px;">
      
                <input id="date2" type="date" placeholder="2019-11-25" #date2>
              </div>
    <button type="submit" class="btn btn-primary btnSend " style="margin-left: 10px;" (click)="cancelledBookings(date1,date2)">getCancelledBookings</button>
  </form>
<section class="flights-list-area bg-default">
        <div class="container">
            <div class="row">
                <div class="content mgt-40">
                   
                <div class="col-lg-12 col-md-12">
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>PNR No</th>
                                        <th>FlightName</th>
                                        <th>Flight No</th>
                                        <th>Class</th>
                                        <th>No of Seats</th>
                                        <th> Is cancel</th>
                                        <th>JournyDate</th>
                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of reservation">
                                        <td>{{item.pnrNo}}</td>
                                        <td>{{item.flight.operatingAirlines}}</td>
                                        <td>{{item.flight.flightnumber}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.totalSeat}}</td>
                                        <td>{{item.cancel}}</td>
                                        <td>{{item.travelDate|date}}</td>
                                       
                                        
                                    </tr>
                                    
                                </tbody>
                                 
                               
                            </table>
                    </div>
</div>
</div>
</div>
